.project-container {

	display: inline-block;
	position: relative;
	cursor: pointer;

	.title {
		padding: 0.3em 0.5em;
	}

	.contents {
		border: none;
	}

	.details {
		display: none;
	    padding-bottom: 1.5em;
	}
	
	.overlay {
		position: absolute;
		top: 30px;
		left: 10px;
		width: 52px;
		height: 8px;
	}

	.progress { 
		position: absolute;
		top: 70px;
	    left: 14px;
	    width: 120px;
	    height: 10px;
	}

	p {
		padding: 0.5em 1em;
	}
}


.project-container.open {
	transition: font-size 0.5s;
	font-size: 2em;
	cursor: default;
	
	.overlay { display: none; }
	.progress { display: none; }

	.details {
		display: block;
		font-size: 0.5em;
	}

	.contents {
		border: 1px solid black;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
	}

	.fa-10x {
		transition: opacity 0.5s;
		opacity: 0;
		position: absolute;
		animation: hide-after-transition 0.5s forwards;
	}
}

@keyframes hide-after-transition {
	0% { visibility: visible; }
	100% { visibility: hidden; }
}
