container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python landspace_web/manage.py migrate --noinput"
    leader_only: true
  # 02_createsu:
  #   command: "source /opt/python/run/venv/bin/activate && python landspace_web/manage.py createsu"
  #   leader_only: true
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python landspace_web/manage.py collectstatic --noinput"
  # 03_loadauthdata:
  #   command: "source /opt/python/run/venv/bin/activate && python landspace_web/manage.py loaddata landspace_web/landspace_web/migrations/fixtures/auth.json"
#  03_loadstepsdata:
#   command: "source /opt/python/run/venv/bin/activate && python landspace_web/manage.py loaddata landspace_web/projects/migrations/fixtures/steps.json"
  03_loadstepsdata:
    command: "source /opt/python/run/venv/bin/activate && python landspace_web/manage.py loaddata landspace_web/survey/migrations/fixtures/survey.json"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "landspace_web.settings"
    "PYTHONPATH": "/opt/python/current/app/landspace_web:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: landspace_web/landspace_web/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"