{% extends 'base.html' %}
{% load staticfiles %}

{% block extra_css %}
{% endblock %}

{% block content %}

<script type="text/html" id="project-profile-form">
	<form id='ProjectProfile' method='POST' class='ink-form' name='project-profile' action=''>

    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% if form.errors %}
        <div class="alert alert-danger vertical-space">
            <strong>Hold on a minute! Please correct the errors and resubmit.</strong>
        </div>
    {% endif %}

	{% for field in form.visible_fields %}
    <div class="control-group">
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}


        {{ field.label_tag }}
        {% if field.help_text %}
         <p class="help note">{{ field.help_text|safe }}</p>
        {% endif %}

        {% if field.id_for_label == "id_lot_size" %}
        	<br>
    	{% endif %}

        {{ field }}
        {% if field.id_for_label == "id_lot_size" %}
        	acres
    	{% endif %}
        
    </div>
	{% endfor %}
    <div id='address-fields' class="control-group"></div>
    <div id='stripe-fields'></div>

    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% csrf_token %}
	</form>
</script>
<script type="text/html" id="stripe-public-data">{{ stripe_public_key | safe }}</script>

{% endblock %}